<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="HorarioBDEntities" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1O1GSF3;initial catalog=HorarioBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Datos.Modelo.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=PC3-SF;initial catalog=HorarioBD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=PC3-SF;initial catalog=HorarioBD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    
    <add name="Model12" connectionString="Server=tcp:calendar365.database.windows.net,1433;Initial Catalog=HorarioBD1;Persist Security Info=False;User ID=calendar365;Password=Aa12345678.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    
    <add name="HorarioBDEntities" connectionString="metadata=res://*/Models.Conexion.csdl|res://*/Models.Conexion.ssdl|res://*/Models.Conexion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.7.96;initial catalog=HorarioBD;user id=sa;password=FS_2015!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>-->
  <connectionStrings>
    <add name="Model11" connectionString="data source=10.3.240.87;initial catalog=HorarioBD2;User Id= sa;Password=FS_2015!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="Model11" connectionString="data source=WIN-GE7UMPHCGHF\SQLSERV014_IIS;initial catalog=HorarioBD2;User Id= sa;Password=FS_2017!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="Model11" connectionString="data source=DESKTOP-1PHJV43;initial catalog=HorarioBD2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="Model11" connectionString="data source=PC3-SF;initial catalog=AmbienteBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>